In [1]:
#%cd twint
#!pip3 install . -r requirements.txt

In [2]:
#Solve compatibility issues with Notebook and Runtime Errors
import nest_asyncio
nest_asyncio.apply()

In [3]:
import twint
#import pandas as pd

In [5]:
# Configure
c = twint.Config()
c.Username = "iam_yashshah"
c.Limit = 100
c.Pandas = True
#c.Search = "tesla"
#c.Store_csv = True
#c.Output = "data.csv"
#c.All = "elonmusk"
Retweets = True
# Profile_full = True

# Run
twint.run.Search(c)

#Store it in DataFrame
Tweets_df = twint.storage.panda.Tweets_df

1366020619893051397 2021-02-28 19:11:09 +0530 <iam_yashshah> @BabuPolitics Bro, try on new mobile device, it should work
1365568921814716416 2021-02-27 13:16:16 +0530 <iam_yashshah> @AnindyaShow @Flipkart @flipkartsupport @GoogleIndia #flipkart is fooling it's customers.
1365564750290059264 2021-02-27 12:59:42 +0530 <iam_yashshah> @flipkartsupport I have been trying this since 2 days. Kindly provide me a deadline or arrange a call with the escalation team asap.  A lot of valuable time is being wasted. @Flipkart @flipkartsupport
1365563523183509504 2021-02-27 12:54:49 +0530 <iam_yashshah> @Flipkart  @flipkartsupport  @Google  @GoogleIndia  I got a coupon of Google home mini coral on 23rd. But everytime it shows technical error while validating. Kindly provide me alternate voucher of Chalk or charcoal. Voucher validity also expiring on 28th February.  https://t.co/G949kcqInA
1365562970441355268 2021-02-27 12:52:37 +0530 <iam_yashshah> @AnindyaShow @Flipkart @flipkartsupport @GoogleIndia Issue resolved?
1364825304636657668 2021-02-25 12:01:24 +0530 <iam_yashshah> @sahurohan23 @flipkartsupport @GoogleIndia @Google @Flipkart Any solutions yet?
1361351006215307264 2021-02-15 21:55:47 +0530 <iam_yashshah> @faizanhaiderrr @flipkartsupport Add one more item worth &gt; 1 and order.
1318522210638729216 2020-10-20 17:29:26 +0530 <iam_yashshah> @Airtel_Presence Done!
1318471032575909889 2020-10-20 14:06:04 +0530 <iam_yashshah> @Airtel_Presence @airtelindia I have applied for new broadband connection (Lead I'd - 41-630732316) on 14th October, but didn't get any call back from your team. Kindly reach out asap.
1296144128539910146 2020-08-19 23:26:56 +0530 <iam_yashshah> ðŸ˜ƒ
1252443415595241472 2020-04-21 09:15:54 +0530 <iam_yashshah> @TataSky As DTH Services &amp; Installations are allowed by Govt w.e.f today i.e 21st Apr, can I expect you to reach me out for the new connection booking? Tatasky WO No# 1-1Z2A3Z4
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [6]:
Tweets_df.head(5)

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1366020619893051397,1365898474588282880,1.614520e+12,2021-02-28 19:11:09,+0530,,"@BabuPolitics Bro, try on new mobile device, i...",en,[],[],...,,,,,,"[{'screen_name': 'BabuPolitics', 'name': 'Poli...",,,,
1,1365568921814716416,1365555922978955265,1.614412e+12,2021-02-27 13:16:16,+0530,,@AnindyaShow @Flipkart @flipkartsupport @Googl...,en,[flipkart],[],...,,,,,,"[{'screen_name': 'AnindyaShow', 'name': 'Anind...",,,,
2,1365564750290059264,1365563523183509504,1.614411e+12,2021-02-27 12:59:42,+0530,,@flipkartsupport I have been trying this since...,en,[],[],...,,,,,,"[{'screen_name': 'flipkartsupport', 'name': 'F...",,,,
3,1365563523183509504,1365563523183509504,1.614411e+12,2021-02-27 12:54:49,+0530,,@Flipkart @flipkartsupport @Google @GoogleI...,en,[],[],...,,,,,,[],,,,
4,1365562970441355268,1365555922978955265,1.614411e+12,2021-02-27 12:52:37,+0530,,@AnindyaShow @Flipkart @flipkartsupport @Googl...,en,[],[],...,,,,,,"[{'screen_name': 'AnindyaShow', 'name': 'Anind...",,,,

In [7]:
#Create Functions to get column names and extract required column dataframe
def column_names():
    return twint.output.panda.Tweets_df.columns
def twint_to_pd(columns):
    return twint.output.panda.Tweets_df[columns]

In [8]:
column_names()

Index(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place',
       'tweet', 'language', 'hashtags', 'cashtags', 'user_id', 'user_id_str',
       'username', 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [9]:
tweet_df = twint_to_pd(["date", "username", "tweet", "nreplies", "nlikes", "nretweets"])

In [10]:
tweet_df.head(20)

,date,username,tweet,nreplies,nlikes,nretweets
0,2021-02-28 19:11:09,iam_yashshah,"@BabuPolitics Bro, try on new mobile device, i...",0,0,0
1,2021-02-27 13:16:16,iam_yashshah,@AnindyaShow @Flipkart @flipkartsupport @Googl...,0,0,0
2,2021-02-27 12:59:42,iam_yashshah,@flipkartsupport I have been trying this since...,0,0,0
3,2021-02-27 12:54:49,iam_yashshah,@Flipkart @flipkartsupport @Google @GoogleI...,1,1,0
4,2021-02-27 12:52:37,iam_yashshah,@AnindyaShow @Flipkart @flipkartsupport @Googl...,1,0,0
5,2021-02-25 12:01:24,iam_yashshah,@sahurohan23 @flipkartsupport @GoogleIndia @Go...,1,0,0
6,2021-02-15 21:55:47,iam_yashshah,@faizanhaiderrr @flipkartsupport Add one more ...,1,0,0
7,2020-10-20 17:29:26,iam_yashshah,@Airtel_Presence Done!,0,0,0
8,2020-10-20 14:06:04,iam_yashshah,@Airtel_Presence @airtelindia I have applied f...,1,0,0
9,2020-08-19 23:26:56,iam_yashshah,ðŸ˜ƒ,0,0,0
10,2020-04-21 09:15:54,iam_yashshah,@TataSky As DTH Services &amp; Installations a...,3,0,0

In [14]:
tweet_df.to_csv("data.csv")